@model IEnumerable<DataLayer.Model.Classes.IndexModel>
@{
}

<h2>Class List</h2>
<hr />
<button type="button" id="createClass" class="btn btn-primary mb-5" data-mdb-ripple-init>Create</button>

<table id="classListTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Students</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.StudentClasses != null)
                    {
                        @foreach (var c in item.StudentClasses)
                        {
                            <a asp-controller="Students" asp-action="Details" asp-route-id="@c.StudentId" class="student-details" onclick="return false;">@c.Student?.FullName | </a>
                        }
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-primary w-0">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-white edit-button">Edit</a>
                    </button>
                    <button type="button" class="btn btn-info w-0">
                        <a asp-action="Details" asp-route-id="@item.Id" class="text-white detail-button">Detail</a>
                    </button>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger w-0">
                        <a asp-action="Delete" asp-route-id="@item.Id" onclick="return false;" class="text-white delete-button">Delete</a>
                    </button>

                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Students</th>
            <th>Options</th>
        </tr>
    </tfoot>
</table>
@section Scripts {
    <script>
        $(document).ready(() => {
            new DataTable('#classListTable', {
                lengthMenu: [
                    [5, 10, 25, -1],
                    [5, 10, 25, 'All']
                ],
            });

            // form create
            $('#createClass').on('click', () => {
                window.location = '@Url.Action("Create", "Classes")';
            })

            // form delete
            $.each($('.text-white.delete-button'), (key, val) => {
                val.addEventListener('click', () => {
                    var id = val.getAttribute('href').split('/')[3];
                    $.ajax({
                        url: "/Classes/Delete/" + id,
                        headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                        type: "DELETE",
                        dataType: "JSON",
                        success: function (data) {
                            $.toast({
                                heading: 'Success',
                                text: 'Successfully!',
                                showHideTransition: 'slide',
                                icon: 'success',
                                position: 'top-right',
                                allowToastClose: true,
                                stack: false,
                                beforeHide: function () {
                                    window.location = '@Url.Action("Index", "Classes")'
                                }
                            })
                        },
                        error: function (error) {
                            $.toast({
                                heading: 'Error',
                                text: error,
                                showHideTransition: 'fade',
                                icon: 'error',
                                position: 'top-right',
                                allowToastClose: true,
                                stack: false,
                            })
                        }
                    });
                })
            })

            // form details
            $.each($('.text-white.detail-button'), (key, val) => {
                val.addEventListener('click', () => {
                    var id = val.getAttribute('href').split('/')[3];
                    $('.partial').load('/Classes/Details/' + id);
                })
            })

        })
    </script>
}